* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(206, 5, 5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  margin-top: 100px;
  width: 350px;
  height: 550px;
  background-color: #fff;
  border-radius: 14px;
}
.main img {
  width: 140px;
  margin: auto;
  display: block;
  margin-top: 50px;
}
form {
  padding: 30px;
  margin-left: 30px;
  margin-top: -20px;
  position: relative;
  bottom: 180px;
}
form input {
  margin-top: 150px;
  width: 96%;
  padding: 12px;
  border-radius: 30px;
  font-size: 1rem;
  border: 1px solid rgb(175, 175, 175);
  color: black;
  text-align: center;
  margin-left: -7px;
}
form .phone {
  width: 22px;
  position: relative;
  top: 184px;
  right: 110px;
}
form .password {
  width: 25px;
  position: relative;
  bottom: 86px;
  right: 114px;
}
.input2 {
  width: 96%;
  margin-top: 20px;
  color: black;
}
.BTN-1 {
  width: 100%;
  height: 38px;
  background-color: rgb(10, 68, 168);
  border-radius: 30px;
  margin-left: -10px;
  position: relative;
  bottom: 40px;
  font-family: Google Sans Medium;
  color: #fff;
  font-size: 0.7rem;
  border: none;
}
.BTN-2 {
  width: 100%;
  height: 38px;
  background-color: rgb(255, 7, 45);
  border-radius: 30px;
  margin-left: -10px;
  position: relative;
  bottom: 40px;
  margin-top: 15px;
  font-family: Google Sans Medium;
  color: #fff;
  border: none;

  font-size: 0.7rem;
}
.BTN-1:hover {
  background-color: #fff;
  transition: 0.5s ease;
  color: rgb(255, 255, 255);
  background-color: rgb(9, 46, 110);
  cursor: pointer;
}
.BTN-2:hover {
  background-color: #fff;
  transition: 0.5s ease;
  color: rgb(255, 255, 255);
  background-color: rgb(217, 3, 3);
  cursor: pointer;

}

a {
  text-align: center;
  display: block;
  margin-left: -20px;
  margin-top: -30px;
  color: blue;
  text-decoration: none;
}

.point {
  text-align: center;
  margin-left: -30px;
  margin-top: 40px;
  color: red;
}

/*  respansiuve */
@media (max-width: 350px) {
  .main {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }
}
